DATASET YA FILTRADO A MI GUSTO

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
appearances = pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\vieja\\appearances.csv")
appearances.head().sort_values(by="date")
# he creado 6 distintos notebooks para poder hacer el filtrado de cada tabla de manera individual y no liarme con datasets
# en el codigo utilizo el sort values para ver cual es el primer "date" que se utiliza

,player_id,game_id,appearance_id,competition_id,player_club_id,goals,assists,minutes_played,yellow_cards,red_cards,date,player_pretty_name
1,67064,2479929,2479929_67064,RU1,28095,0,0,90,0,0,2014-08-03,Felicio Brown Forbes
0,52453,2483937,2483937_52453,RU1,28095,0,0,90,0,0,2014-08-08,Haris Handzic
2,67064,2483937,2483937_67064,RU1,28095,0,0,90,0,0,2014-08-08,Felicio Brown Forbes
3,67064,2484582,2484582_67064,RU1,28095,0,0,55,0,0,2014-08-13,Felicio Brown Forbes
4,67064,2485965,2485965_67064,RU1,28095,0,0,90,0,0,2014-08-16,Felicio Brown Forbes

In [3]:
appearances[appearances["game_id"]== 2479929] 
# me aparecen TODOS los jugadores que jugaron el partido con el ID 2479929

,player_id,game_id,appearance_id,competition_id,player_club_id,goals,assists,minutes_played,yellow_cards,red_cards,date,player_pretty_name
1,67064,2479929,2479929_67064,RU1,28095,0,0,90,0,0,2014-08-03,Felicio Brown Forbes
470,38790,2479929,2479929_38790,RU1,28095,0,0,81,0,0,2014-08-03,Dmitri Golubov
644,106539,2479929,2479929_106539,RU1,28095,0,0,9,0,0,2014-08-03,Aleksandr Vasiljev
1023,97205,2479929,2479929_97205,RU1,28095,0,0,28,0,0,2014-08-03,Nikita Bezlikhotnov
8845,111667,2479929,2479929_111667,RU1,28095,0,0,90,0,0,2014-08-03,Marcinho
8846,183646,2479929,2479929_183646,RU1,28095,0,0,88,0,0,2014-08-03,Diego
8898,86100,2479929,2479929_86100,RU1,28095,0,0,62,0,0,2014-08-03,Vagiz Galiulin
8899,60206,2479929,2479929_60206,RU1,28095,0,0,2,0,0,2014-08-03,Nikolay Safronidi
8981,211025,2479929,2479929_211025,RU1,28095,0,0,90,0,0,2014-08-03,Azamat Zaseev
9031,31868,2479929,2479929_31868,RU1,28095,0,0,90,0,0,2014-08-03,Ivan Paurevic
9122,155334,2479929,2479929_155334,RU1,28095,0,0,90,1,0,2014-08-03,Maksim Tishkin
9189,25879,2479929,2479929_25879,RU1,28095,0,0,90,0,0,2014-08-03,Pavel Alikin
9243,75213,2479929,2479929_75213,RU1,28095,0,0,90,0,0,2014-08-03,Sergey Veremko
9350,69011,2479929,2479929_69011,RU1,28095,0,0,90,2,0,2014-08-03,Pavel Stepanets
82180,47152,2479929,2479929_47152,RU1,2439,0,0,11,0,0,2014-08-03,Gigel Bucur
82181,145919,2479929,2479929_145919,RU1,2439,0,0,72,0,0,2014-08-03,Arsen Khubulov
82246,38340,2479929,2479929_38340,RU1,2439,1,0,90,1,0,2014-08-03,Ivelin Popov
82263,15597,2479929,2479929_15597,RU1,2439,0,0,4,0,0,2014-08-03,Artur Tlisov
82305,15743,2479929,2479929_15743,RU1,2439,0,0,90,1,0,2014-08-03,Vladislav Kulik
82361,67721,2479929,2479929_67721,RU1,2439,0,1,86,0,0,2014-08-03,Mohammed Rabiu
82381,48987,2479929,2479929_48987,RU1,2439,0,0,90,1,0,2014-08-03,Andrey Eshchenko
82423,51897,2479929,2479929_51897,RU1,2439,1,0,90,0,0,2014-08-03,Vladislav Ignatjev
82481,100009,2479929,2479929_100009,RU1,2439,0,0,90,0,0,2014-08-03,Xandao
82515,60790,2479929,2479929_60790,RU1,2439,0,0,90,0,0,2014-08-03,Toni Sunjic
82569,62514,2479929,2479929_62514,RU1,2439,0,0,90,0,0,2014-08-03,Aleksandr Belenov
82750,76075,2479929,2479929_76075,RU1,2439,0,0,18,0,0,2014-08-03,Sekou Oliseh
82817,53331,2479929,2479929_53331,RU1,2439,0,0,90,0,0,2014-08-03,Maksim Zhavnerchik
84907,41037,2479929,2479929_41037,RU1,2439,0,1,79,0,0,2014-08-03,Danilo

In [14]:
appearances.groupby(["player_pretty_name", "competition_id", "date"])[["goals", "assists", "minutes_played", "yellow_cards", "red_cards", "player_club_id"]].sum()
# SE USA DE INDICE EL NOMBRE Y LA COMPETICION PARA VER LOS DATOS

                                              goals  assists  minutes_played  \
player_pretty_name competition_id date
 Alpha Bdul Razak  GR1            2014-12-20      0        0              11
A J Soares         DK1            2016-07-31      0        0              16
                                  2016-08-08      1        0              90
                                  2016-08-12      0        0              90
                                  2016-08-21      0        0              90
...                                             ...      ...             ...
Zymer Bytyqi       TR1            2022-08-22      0        0              90
                                  2022-08-29      0        1              90
                                  2022-09-03      0        0              90
                                  2022-09-10      0        0              90
                                  2022-09-16      0        0              90

                                              yellow_cards  red_cards  \
player_pretty_name competition_id date
 Alpha Bdul Razak  GR1            2014-12-20             0          0
A J Soares         DK1            2016-07-31             0          0
                                  2016-08-08             0          0
                                  2016-08-12             1          0
                                  2016-08-21             0          0
...                                                    ...        ...
Zymer Bytyqi       TR1            2022-08-22             0          0
                                  2022-08-29             0          0
                                  2022-09-03             0          0
                                  2022-09-10             1          0
                                  2022-09-16             0          0

                                              player_club_id
player_pretty_name competition_id date
 Alpha Bdul Razak  GR1            2014-12-20           28956
A J Soares         DK1            2016-07-31             678
                                  2016-08-08             678
                                  2016-08-12             678
                                  2016-08-21             678
...                                                      ...
Zymer Bytyqi       TR1            2022-08-22            2293
                                  2022-08-29            2293
                                  2022-09-03            2293
                                  2022-09-10            2293
                                  2022-09-16            2293

[1070243 rows x 6 columns]

In [22]:
app =appearances.groupby(["player_pretty_name", "competition_id", "date"])[["goals", "assists", "minutes_played", "yellow_cards", "red_cards", "player_club_id"]].sum().reset_index()
app

#A ESTA TABLA SE LE DA UN NUEVO NOMBRE Y SE HACE UN RESET INDEX PARA FILTRAR MEJOR Y QUE APAREZCA "JUGADOR": "COMPETITION_ID==ES1"

,player_pretty_name,competition_id,date,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id
0,Alpha Bdul Razak,GR1,2014-12-20,0,0,11,0,0,28956
1,A J Soares,DK1,2016-07-31,0,0,16,0,0,678
2,A J Soares,DK1,2016-08-08,1,0,90,0,0,678
3,A J Soares,DK1,2016-08-12,0,0,90,1,0,678
4,A J Soares,DK1,2016-08-21,0,0,90,0,0,678
...,...,...,...,...,...,...,...,...,...
1070238,Zymer Bytyqi,TR1,2022-08-22,0,0,90,0,0,2293
1070239,Zymer Bytyqi,TR1,2022-08-29,0,1,90,0,0,2293
1070240,Zymer Bytyqi,TR1,2022-09-03,0,0,90,0,0,2293
1070241,Zymer Bytyqi,TR1,2022-09-10,0,0,90,1,0,2293
1070242,Zymer Bytyqi,TR1,2022-09-16,0,0,90,0,0,2293

In [29]:
app_es = app[(app["competition_id"]== "ES1") & (app["date"]>= "2014-01")].reset_index().drop(["index"], axis=1)
app_es
# SE APLICA UNA MASCARA PARA VER SOLAMENTE LOS JUGADORES QUE QUEREMOS

,player_pretty_name,competition_id,date,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id
0,Aaron Escandell,ES1,2020-02-08,0,0,90,0,0,16795
1,Aaron Escandell,ES1,2020-06-28,0,0,90,0,0,16795
2,Aaron Escandell,ES1,2020-07-01,0,0,90,0,0,16795
3,Aaron Escandell,ES1,2021-04-29,0,0,90,0,0,16795
4,Aaron Escandell,ES1,2021-05-02,0,0,90,1,0,16795
...,...,...,...,...,...,...,...,...,...
88251,Zouhair Feddal,ES1,2020-06-25,0,0,90,0,0,150
88252,Zouhair Feddal,ES1,2020-06-28,0,1,90,1,0,150
88253,Zouhair Feddal,ES1,2020-07-04,1,0,90,0,0,150
88254,Zouhair Feddal,ES1,2020-07-08,0,1,90,0,0,150
88255,Zouhair Feddal,ES1,2020-07-16,0,0,90,1,0,150

In [28]:
app_es[app_es["player_pretty_name"] == "Lionel Messi"]
#ESTA ES UNA PRUEBA PARA PROBAR SI APP_ES ESTA BIEN HECHA

,player_pretty_name,competition_id,date,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id
49181,Lionel Messi,ES1,2014-08-24,2,0,90,0,0,131
49182,Lionel Messi,ES1,2014-08-31,0,1,90,0,0,131
49183,Lionel Messi,ES1,2014-09-13,0,2,90,0,0,131
49184,Lionel Messi,ES1,2014-09-21,1,2,90,0,0,131
49185,Lionel Messi,ES1,2014-09-24,0,0,90,0,0,131
...,...,...,...,...,...,...,...,...,...
49419,Lionel Messi,ES1,2021-04-29,1,0,90,0,0,131
49420,Lionel Messi,ES1,2021-05-02,2,0,90,0,0,131
49421,Lionel Messi,ES1,2021-05-08,0,0,90,0,0,131
49422,Lionel Messi,ES1,2021-05-11,1,0,90,0,0,131
49423,Lionel Messi,ES1,2021-05-16,1,0,90,0,0,131

In [30]:
app_es.to_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\app_es.csv")
# SE CREA EL NUEVO CSV Y SE GUARDA

In [31]:
app_es

,player_pretty_name,competition_id,date,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id
0,Aaron Escandell,ES1,2020-02-08,0,0,90,0,0,16795
1,Aaron Escandell,ES1,2020-06-28,0,0,90,0,0,16795
2,Aaron Escandell,ES1,2020-07-01,0,0,90,0,0,16795
3,Aaron Escandell,ES1,2021-04-29,0,0,90,0,0,16795
4,Aaron Escandell,ES1,2021-05-02,0,0,90,1,0,16795
...,...,...,...,...,...,...,...,...,...
88251,Zouhair Feddal,ES1,2020-06-25,0,0,90,0,0,150
88252,Zouhair Feddal,ES1,2020-06-28,0,1,90,1,0,150
88253,Zouhair Feddal,ES1,2020-07-04,1,0,90,0,0,150
88254,Zouhair Feddal,ES1,2020-07-08,0,1,90,0,0,150
88255,Zouhair Feddal,ES1,2020-07-16,0,0,90,1,0,150

In [9]:
# for x in app: 
#     if appearances.apply(lambda x: x == "ES1" in "competition_id"):
#         print(x)

# ESTO ERAN IDEAS PARA VER SI PODIA HACER EL GROUPBY

In [10]:
# for x in appearances: 
#     if appearances.apply(lambda x: (x == "ES1"), appearances):
#         a = appearances.groupby("player_pretty_name")[["goals", "assists", "minutes_played", "yellow_cards", "red_cards", "player_id"]].sum()
#         print(a)
# creo que este codigo estaria bien para hacer un bucle donde se recorre la tabla buscando esas dos cosas ?