In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
clubs = pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\clubs.csv")
clubs.head()

,club_id,name,pretty_name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,url
0,1032,fc-reading,Fc Reading,GB1,33.66,26,25.9,12,46.2,6,Select Car Leasing Stadium,24161,+£8.37m,Brian McDermott,https://www.transfermarkt.co.uk/fc-reading/sta...
1,2323,orduspor,Orduspor,TR1,NaN,0,NaN,0,NaN,0,19 Eylül Stadyum,11024,+-0,Héctor Cúper,https://www.transfermarkt.co.uk/orduspor/start...
2,1387,acn-siena-1904,Acn Siena 1904,IT1,4.32,30,26.2,6,20.0,2,Artemio Franchi,15373,£-6Th.,Serse Cosmi,https://www.transfermarkt.co.uk/acn-siena-1904...
3,1071,wigan-athletic,Wigan Athletic,GB1,12.38,29,26.5,14,48.3,6,DW Stadium,25133,£-140Th.,Roberto Martínez,https://www.transfermarkt.co.uk/wigan-athletic...
4,2703,spartak-vladikavkaz,Spartak Vladikavkaz,RU1,NaN,1,20.0,0,NaN,0,Republican Stadium Spartak,32464,+-0,Vladimir Gazzaev,https://www.transfermarkt.co.uk/spartak-vladik...

In [3]:
clubs.columns
# SE MIRAN LAS COLUMNAS PARA SABER CUALES SON LOS DATOS QUE NOS INTERESAN

Index(['club_id', 'name', 'pretty_name', 'domestic_competition_id',
       'total_market_value', 'squad_size', 'average_age', 'foreigners_number',
       'foreigners_percentage', 'national_team_players', 'stadium_name',
       'stadium_seats', 'net_transfer_record', 'coach_name', 'url'],
      dtype='object')

In [4]:
club1 = clubs.groupby(["pretty_name", "domestic_competition_id"])[["squad_size", "national_team_players","club_id"]].sum().reset_index()
club1.head(25)
#  SE CREA EL NUEVO CSV PARA VER LOS JUGADORES, LA COMPETICION, CUANTOS JUGADORES Y LOS JUGADORES DEL PAIS

,pretty_name,domestic_competition_id,squad_size,national_team_players,club_id
0,1 Fc Koln,L1,28,7,3
1,1 Fc Nurnberg,L1,28,1,4
2,1 Fc Union Berlin,L1,29,8,89
3,1 Fsv Mainz 05,L1,27,6,39
4,Aalborg Bk,DK1,22,1,1053
5,Aarhus Gf,DK1,23,3,678
6,Aberdeen Fc,SC1,24,3,370
7,Ac Ajaccio,FR1,31,10,1147
8,Ac Florenz,IT1,28,12,430
9,Ac Horsens,DK1,20,3,2414
10,Ac Mailand,IT1,31,19,5
11,Ac Monza,IT1,37,6,2919
12,Academica Coimbra,PO1,30,2,2990
13,Acn Siena 1904,IT1,30,2,1387
14,Adana Demirspor,TR1,32,5,3840
15,Adanaspor,TR1,27,1,6
16,Ado Den Haag,NL1,28,0,1268
17,Ae Larisa,GR1,35,1,4603
18,Aek Athen,GR1,27,14,2441
19,Ael Kalloni,GR1,0,0,28956
20,Afc Bournemouth,GB1,27,9,989
21,Afc Sunderland,GB1,27,3,289
22,Aj Auxerre,FR1,32,8,290
23,Ajax Amsterdam,NL1,27,17,610
24,Akhisarspor,TR1,30,0,19771

In [15]:
espana = club1[club1["domestic_competition_id"]== "ES1"].reset_index(0).drop(["index"], axis=1)
espana
# USAMOS SOLO LOS CLUBES DE ESPAÑA PARA SABER LOS EQUIPOS Y SU CLUB_ID. ESTE CLUB_ID SE VA A USAR PARA HACER EL MERGE

,pretty_name,domestic_competition_id,squad_size,national_team_players,club_id
0,Athletic Bilbao,ES1,26,4,621
1,Atletico Madrid,ES1,22,18,13
2,Ca Osasuna,ES1,24,2,331
3,Cd Leganes,ES1,28,3,1244
4,Celta Vigo,ES1,22,4,940
5,Deportivo Alaves,ES1,26,2,1108
6,Deportivo La Coruna,ES1,24,0,897
7,Espanyol Barcelona,ES1,21,3,714
8,Fc Barcelona,ES1,25,20,131
9,Fc Cadiz,ES1,27,6,2687
10,Fc Cordoba,ES1,24,0,993
11,Fc Elche,ES1,25,3,1531
12,Fc Getafe,ES1,24,9,3709
13,Fc Girona,ES1,26,1,12321
14,Fc Granada,ES1,29,4,16795
15,Fc Malaga,ES1,28,0,1084
16,Fc Sevilla,ES1,25,12,368
17,Fc Valencia,ES1,24,9,1049
18,Fc Villarreal,ES1,25,10,1050
19,Rayo Vallecano,ES1,27,7,367
20,Rcd Mallorca,ES1,26,10,237
21,Real Betis Sevilla,ES1,26,10,150
22,Real Madrid,ES1,23,16,418
23,Real Saragossa,ES1,24,0,142
24,Real Sociedad San Sebastian,ES1,27,6,681
25,Real Valladolid,ES1,24,3,366
26,Sd Eibar,ES1,25,0,1533
27,Sd Huesca,ES1,24,3,5358
28,Sporting Gijon,ES1,26,4,2448
29,Ud Almeria,ES1,28,2,3302
30,Ud Las Palmas,ES1,27,1,472
31,Ud Levante,ES1,28,4,3368

In [11]:
espana.count(axis=0)

pretty_name                32
domestic_competition_id    32
squad_size                 32
national_team_players      32
club_id                    32
dtype: int64

In [12]:
espana

,pretty_name,domestic_competition_id,squad_size,national_team_players,club_id
50,Athletic Bilbao,ES1,26,4,621
51,Atletico Madrid,ES1,22,18,13
70,Ca Osasuna,ES1,24,2,331
78,Cd Leganes,ES1,28,3,1244
82,Celta Vigo,ES1,22,4,940
95,Deportivo Alaves,ES1,26,2,1108
96,Deportivo La Coruna,ES1,24,0,897
113,Espanyol Barcelona,ES1,21,3,714
119,Fc Barcelona,ES1,25,20,131
125,Fc Cadiz,ES1,27,6,2687
127,Fc Cordoba,ES1,24,0,993
130,Fc Elche,ES1,25,3,1531
136,Fc Getafe,ES1,24,9,3709
137,Fc Girona,ES1,26,1,12321
139,Fc Granada,ES1,29,4,16795
146,Fc Malaga,ES1,28,0,1084
158,Fc Sevilla,ES1,25,12,368
166,Fc Valencia,ES1,24,9,1049
169,Fc Villarreal,ES1,25,10,1050
302,Rayo Vallecano,ES1,27,7,367
305,Rcd Mallorca,ES1,26,10,237
306,Real Betis Sevilla,ES1,26,10,150
307,Real Madrid,ES1,23,16,418
308,Real Saragossa,ES1,24,0,142
309,Real Sociedad San Sebastian,ES1,27,6,681
310,Real Valladolid,ES1,24,3,366
336,Sd Eibar,ES1,25,0,1533
337,Sd Huesca,ES1,24,3,5358
352,Sporting Gijon,ES1,26,4,2448
372,Ud Almeria,ES1,28,2,3302
373,Ud Las Palmas,ES1,27,1,472
374,Ud Levante,ES1,28,4,3368