In [86]:
import pandas as pd 
import numpy as np 
import matplotlib as plt
import openpyxl

In [2]:
appearances = pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\app_es.csv")
clubs = pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\espana.csv")
competitions = pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\competitions.csv")
games = pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\gam_es.csv")
player_valuations = pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\play_v.csv")
players =  pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\play.csv")

In [3]:
appearances

,Unnamed: 0,player_pretty_name,competition_id,date,player_id,game_id,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id
0,0,Aaron Escandell,ES1,2020-02-08,284430,3209803,0,0,90,0,0,16795
1,1,Aaron Escandell,ES1,2020-06-28,284430,3210088,0,0,90,0,0,16795
2,2,Aaron Escandell,ES1,2020-07-01,284430,3210093,0,0,90,0,0,16795
3,3,Aaron Escandell,ES1,2021-04-29,284430,3451426,0,0,90,0,0,16795
4,4,Aaron Escandell,ES1,2021-05-02,284430,3451436,0,0,90,1,0,16795
...,...,...,...,...,...,...,...,...,...,...,...,...
88298,88298,Zouhair Feddal,ES1,2020-06-25,129386,3210075,0,0,90,0,0,150
88299,88299,Zouhair Feddal,ES1,2020-06-28,129386,3210089,0,1,90,1,0,150
88300,88300,Zouhair Feddal,ES1,2020-07-04,129386,3210105,1,0,90,0,0,150
88301,88301,Zouhair Feddal,ES1,2020-07-08,129386,3210115,0,1,90,0,0,150
88302,88302,Zouhair Feddal,ES1,2020-07-16,129386,3210135,0,0,90,1,0,150

In [104]:
players

,Unnamed: 0,domestic_competition_id,player_id,pretty_name,last_season,current_club_id
0,0,BE1,3176,Eidur Gudjohnsen,2013,2282
1,1,BE1,3354,Jonathan Blondel,2014,2282
2,2,BE1,3441,Timmy Simons,2017,2282
3,3,BE1,4323,Jelle Van Damme,2018,1096
4,4,BE1,4377,Thomas Buffel,2018,3508
...,...,...,...,...,...,...
25603,25603,UKR1,1045568,Danylo Golub,2022,61825
25604,25604,UKR1,1048954,Igor Potimkov,2022,55686
25605,25605,UKR1,1050249,Denys Shevchenko,2022,3592
25606,25606,UKR1,1050852,Vitaliy Kholod,2022,48726
25607,25607,UKR1,1064515,Leonardo Almeida,2022,60551

In [370]:
players[players["player_id"]=="65467"]

Empty DataFrame
Columns: [Unnamed: 0, domestic_competition_id, player_id, pretty_name, last_season, current_club_id]
Index: []

In [24]:
play_app = pd.merge(appearances, players, on='player_id')
play_app
# JUNTAMOS APPEARANCES Y PLAYERS --> PARA VER CUANTAS APPEARANCES TIENE EL JUGADOR Y CUANDO

,Unnamed: 0_x,player_pretty_name,competition_id,date,player_id,game_id,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id,Unnamed: 0_y,domestic_competition_id,pretty_name,last_season,current_club_id
0,0,Aaron Escandell,ES1,2020-02-08,284430,3209803,0,0,90,0,0,16795,4187,ES1,Aaron Escandell,2021,16795
1,1,Aaron Escandell,ES1,2020-06-28,284430,3210088,0,0,90,0,0,16795,4187,ES1,Aaron Escandell,2021,16795
2,2,Aaron Escandell,ES1,2020-07-01,284430,3210093,0,0,90,0,0,16795,4187,ES1,Aaron Escandell,2021,16795
3,3,Aaron Escandell,ES1,2021-04-29,284430,3451426,0,0,90,0,0,16795,4187,ES1,Aaron Escandell,2021,16795
4,4,Aaron Escandell,ES1,2021-05-02,284430,3451436,0,0,90,1,0,16795,4187,ES1,Aaron Escandell,2021,16795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88298,88298,Zouhair Feddal,ES1,2020-06-25,129386,3210075,0,0,90,0,0,150,3714,ES1,Zouhair Feddal,2022,366
88299,88299,Zouhair Feddal,ES1,2020-06-28,129386,3210089,0,1,90,1,0,150,3714,ES1,Zouhair Feddal,2022,366
88300,88300,Zouhair Feddal,ES1,2020-07-04,129386,3210105,1,0,90,0,0,150,3714,ES1,Zouhair Feddal,2022,366
88301,88301,Zouhair Feddal,ES1,2020-07-08,129386,3210115,0,1,90,0,0,150,3714,ES1,Zouhair Feddal,2022,366
88302,88302,Zouhair Feddal,ES1,2020-07-16,129386,3210135,0,0,90,1,0,150,3714,ES1,Zouhair Feddal,2022,366

In [7]:
play_app = play_app.drop(["Unnamed: 0_x", "Unnamed: 0_y", "pretty_name"], axis=1)

In [100]:
play_app

,Unnamed: 0_x,player_pretty_name,competition_id,date,player_id,game_id,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id,Unnamed: 0_y,domestic_competition_id,pretty_name,last_season,current_club_id
0,0,Aaron Escandell,ES1,2020-02-08,284430,3209803,0,0,90,0,0,16795,4187,ES1,Aaron Escandell,2021,16795
1,1,Aaron Escandell,ES1,2020-06-28,284430,3210088,0,0,90,0,0,16795,4187,ES1,Aaron Escandell,2021,16795
2,2,Aaron Escandell,ES1,2020-07-01,284430,3210093,0,0,90,0,0,16795,4187,ES1,Aaron Escandell,2021,16795
3,3,Aaron Escandell,ES1,2021-04-29,284430,3451426,0,0,90,0,0,16795,4187,ES1,Aaron Escandell,2021,16795
4,4,Aaron Escandell,ES1,2021-05-02,284430,3451436,0,0,90,1,0,16795,4187,ES1,Aaron Escandell,2021,16795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88298,88298,Zouhair Feddal,ES1,2020-06-25,129386,3210075,0,0,90,0,0,150,3714,ES1,Zouhair Feddal,2022,366
88299,88299,Zouhair Feddal,ES1,2020-06-28,129386,3210089,0,1,90,1,0,150,3714,ES1,Zouhair Feddal,2022,366
88300,88300,Zouhair Feddal,ES1,2020-07-04,129386,3210105,1,0,90,0,0,150,3714,ES1,Zouhair Feddal,2022,366
88301,88301,Zouhair Feddal,ES1,2020-07-08,129386,3210115,0,1,90,0,0,150,3714,ES1,Zouhair Feddal,2022,366
88302,88302,Zouhair Feddal,ES1,2020-07-16,129386,3210135,0,0,90,1,0,150,3714,ES1,Zouhair Feddal,2022,366

In [368]:
play_app[play_app["player_pretty_name"]== "Neymar"]
# ESTO ES SOLO UNA PRUEBA PARA VER SI ESTAN JUGADORES QUE YA NO JUEGAN EN LA LIGA

,Unnamed: 0_x,player_pretty_name,competition_id,date,player_id,game_id,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id,Unnamed: 0_y,domestic_competition_id,pretty_name,last_season,current_club_id
61823,61823,Neymar,ES1,2014-08-31,68290,2475198,0,0,31,0,0,131,5262,FR1,Neymar,2022,583
61824,61824,Neymar,ES1,2014-09-13,68290,2475208,2,0,27,0,0,131,5262,FR1,Neymar,2022,583
61825,61825,Neymar,ES1,2014-09-21,68290,2475219,1,0,51,0,0,131,5262,FR1,Neymar,2022,583
61826,61826,Neymar,ES1,2014-09-24,68290,2475229,0,0,64,0,0,131,5262,FR1,Neymar,2022,583
61827,61827,Neymar,ES1,2014-09-27,68290,2475239,3,0,90,0,0,131,5262,FR1,Neymar,2022,583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61915,61915,Neymar,ES1,2017-04-08,68290,2719015,0,0,66,1,1,131,5262,FR1,Neymar,2022,583
61916,61916,Neymar,ES1,2017-04-29,68290,2719053,0,0,90,0,0,131,5262,FR1,Neymar,2022,583
61917,61917,Neymar,ES1,2017-05-06,68290,2719062,1,0,90,0,0,131,5262,FR1,Neymar,2022,583
61918,61918,Neymar,ES1,2017-05-14,68290,2719072,3,1,90,0,0,131,5262,FR1,Neymar,2022,583
61919,61919,Neymar,ES1,2017-05-21,68290,2719081,0,0,90,0,0,131,5262,FR1,Neymar,2022,583

In [11]:
play_app.groupby(["player_pretty_name", "player_club_id", "competition_id", "player_id", "last_season", "game_id"]).sum()

                                                                                goals  \
player_pretty_name player_club_id competition_id player_id last_season game_id
Aaron Escandell    16795          ES1            284430    2021        3209803      0
                                                                       3210088      0
                                                                       3210093      0
                                                                       3451426      0
                                                                       3451436      0
...                                                                               ...
Zouhair Feddal     3368           ES1            129386    2022        2594756      0
                                                                       2594766      0
                                                                       2594777      0
                                                                       2594819      0
                                                                       2594829      0

                                                                                assists  \
player_pretty_name player_club_id competition_id player_id last_season game_id
Aaron Escandell    16795          ES1            284430    2021        3209803        0
                                                                       3210088        0
                                                                       3210093        0
                                                                       3451426        0
                                                                       3451436        0
...                                                                                 ...
Zouhair Feddal     3368           ES1            129386    2022        2594756        0
                                                                       2594766        0
                                                                       2594777        0
                                                                       2594819        0
                                                                       2594829        0

                                                                                minutes_played  \
player_pretty_name player_club_id competition_id player_id last_season game_id
Aaron Escandell    16795          ES1            284430    2021        3209803              90
                                                                       3210088              90
                                                                       3210093              90
                                                                       3451426              90
                                                                       3451436              90
...                                                                                        ...
Zouhair Feddal     3368           ES1            129386    2022        2594756              90
                                                                       2594766              90
                                                                       2594777              90
                                                                       2594819              90
                                                                       2594829              90

                                                                                yellow_cards  \
player_pretty_name player_club_id competition_id player_id last_season game_id
Aaron Escandell    16795          ES1            284430    2021        3209803             0
                                                                       3210088             0
                                                                       3210093             0
                                                                       3451426             0
                                                                       3451436             1
...                                                                                      ...
Zouhair Feddal     3368           ES1            129386    2022        2594756             0
                                                                       2594766             0
                                                                       2594777             2
                                                                       2594819             0
                                                                       2594829             0

                                                                                red_cards  \
player_pretty_name player_club_id competition_id player_id last_season game_id
Aaron Escandell    16795          ES1            284430    2021        3209803          0
                                                                       3210088          0
                                                                       3210093          0
                                                                       3451426          0
                                                                       3451436          0
...                                                                                   ...
Zouhair Feddal     3368           ES1            129386    2022        2594756          0
                                                                       2594766          0
                                                                       2594777          0
                                                                       2594819          0
                                                                       2594829          0

                                                                                current_club_id
player_pretty_name player_club_id competition_id player_id last_season game_id
Aaron Escandell    16795          ES1            284430    2021        3209803            16795
                                                                       3210088            16795
                                                                       3210093            16795
                                                                       3451426            16795
                                                                       3451436            16795
...                                                                                         ...
Zouhair Feddal     3368           ES1            129386    2022        2594756              366
                                                                       2594766              366
                                                                       2594777              366
                                                                       2594819              366
                                                                       2594829              366

[88303 rows x 6 columns]

In [175]:
# play_app[play_app["player_pretty_name"]== "Neymar"]

In [117]:
play_app.to_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\play_app.csv")

In [14]:
games.head(5)

,Unnamed: 0,game_id,season,club_home_pretty_name,club_away_pretty_name,competition_code,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals
0,13,2475187,2014,Fc Malaga,Athletic Bilbao,ES1,1. Matchday,2014-08-23,1084,621,1,0
1,35,2475185,2014,Ud Almeria,Espanyol Barcelona,ES1,1. Matchday,2014-08-23,3302,714,1,1
2,39,2475180,2014,Fc Sevilla,Fc Valencia,ES1,1. Matchday,2014-08-23,368,1049,1,1
3,12,2475188,2014,Fc Granada,Deportivo La Coruna,ES1,1. Matchday,2014-08-23,16795,897,2,1
4,33,2475186,2014,Sd Eibar,Real Sociedad San Sebastian,ES1,1. Matchday,2014-08-24,1533,681,1,0

In [16]:
games.columns

Index(['Unnamed: 0', 'game_id', 'season', 'club_home_pretty_name',
       'club_away_pretty_name', 'competition_code', 'round', 'date',
       'home_club_id', 'away_club_id', 'home_club_goals', 'away_club_goals'],
      dtype='object')

In [21]:
games.drop(["Unnamed: 0"], axis=1)
# VEMOS QUE HAY SOLO 3040 PARTIDOS

,game_id,season,club_home_pretty_name,club_away_pretty_name,competition_code,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals
0,2475187,2014,Fc Malaga,Athletic Bilbao,ES1,1. Matchday,2014-08-23,1084,621,1,0
1,2475185,2014,Ud Almeria,Espanyol Barcelona,ES1,1. Matchday,2014-08-23,3302,714,1,1
2,2475180,2014,Fc Sevilla,Fc Valencia,ES1,1. Matchday,2014-08-23,368,1049,1,1
3,2475188,2014,Fc Granada,Deportivo La Coruna,ES1,1. Matchday,2014-08-23,16795,897,2,1
4,2475186,2014,Sd Eibar,Real Sociedad San Sebastian,ES1,1. Matchday,2014-08-24,1533,681,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3035,3611514,2021,Real Sociedad San Sebastian,Atletico Madrid,ES1,38. Matchday,2022-05-22,681,13,1,2
3036,3611509,2021,Deportivo Alaves,Fc Cadiz,ES1,38. Matchday,2022-05-22,1108,2687,0,1
3037,3611510,2021,Fc Barcelona,Fc Villarreal,ES1,38. Matchday,2022-05-22,131,1050,0,2
3038,3611518,2021,Fc Elche,Fc Getafe,ES1,38. Matchday,2022-05-22,1531,3709,3,1
3039,3611512,2021,Ca Osasuna,Rcd Mallorca,ES1,38. Matchday,2022-05-22,331,237,0,2

In [26]:
games_on_play_app =pd.merge(play_app, games, on='game_id').sort_values(by="game_id")
games_on_play_app 
# UNIMOS LOS PLAY_aPP, QUE ES UNA TABLA DE JUGADORES Y APPEARANCES CON LOS PARTIDOS

,Unnamed: 0_x,player_pretty_name,competition_id,date_x,player_id,game_id,goals,assists,minutes_played,yellow_cards,...,season,club_home_pretty_name,club_away_pretty_name,competition_code,round,date_y,home_club_id,away_club_id,home_club_goals,away_club_goals
43629,84132,Vicente Iborra,ES1,2014-08-23,65467,2475180,0,0,80,0,...,2014,Fc Sevilla,Fc Valencia,ES1,1. Matchday,2014-08-23,368,1049,1,1
43630,85507,Vitolo,ES1,2014-08-23,67082,2475180,0,0,90,0,...,2014,Fc Sevilla,Fc Valencia,ES1,1. Matchday,2014-08-23,368,1049,1,1
43628,79995,Sofiane Feghouli,ES1,2014-08-23,57162,2475180,0,0,34,0,...,2014,Fc Sevilla,Fc Valencia,ES1,1. Matchday,2014-08-23,368,1049,1,1
43604,6083,Andre Gomes,ES1,2014-08-23,221025,2475180,0,0,83,0,...,2014,Fc Sevilla,Fc Valencia,ES1,1. Matchday,2014-08-23,368,1049,1,1
43605,7930,Antonio Barragan,ES1,2014-08-23,32522,2475180,0,0,90,0,...,2014,Fc Sevilla,Fc Valencia,ES1,1. Matchday,2014-08-23,368,1049,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83398,42953,Josan,ES1,2022-05-22,277533,3611518,0,1,13,0,...,2021,Fc Elche,Fc Getafe,ES1,38. Matchday,2022-05-22,1531,3709,3,1
83399,45182,Juan Iglesias,ES1,2022-05-22,390688,3611518,0,0,82,0,...,2021,Fc Elche,Fc Getafe,ES1,38. Matchday,2022-05-22,1531,3709,3,1
83400,48071,Kike Perez,ES1,2022-05-22,527698,3611518,2,0,21,0,...,2021,Fc Elche,Fc Getafe,ES1,38. Matchday,2022-05-22,1531,3709,3,1
83402,50052,Lucas Olaza,ES1,2022-05-22,216240,3611518,1,0,90,0,...,2021,Fc Elche,Fc Getafe,ES1,38. Matchday,2022-05-22,1531,3709,3,1
83403,56837,Mauro Arambarri,ES1,2022-05-22,290249,3611518,0,0,90,0,...,2021,Fc Elche,Fc Getafe,ES1,38. Matchday,2022-05-22,1531,3709,3,1

In [176]:
games_on_play_app

,Name,Competition,Date,Player_ID,Game_ID,Goals,Assists,Minutes_played,Yellow_Cards,Red_Card,Season,Home_Club,Away_Club,Round,Home_Club_ID,Away_Club_ID,Home_Club_Goals,Away_Club_Goals
43629,Vicente Iborra,ES1,2014-08-23,65467,2475180,0,0,80,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43630,Vitolo,ES1,2014-08-23,67082,2475180,0,0,90,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43628,Sofiane Feghouli,ES1,2014-08-23,57162,2475180,0,0,34,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43604,Andre Gomes,ES1,2014-08-23,221025,2475180,0,0,83,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43605,Antonio Barragan,ES1,2014-08-23,32522,2475180,0,0,90,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83398,Josan,ES1,2022-05-22,277533,3611518,0,1,13,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83399,Juan Iglesias,ES1,2022-05-22,390688,3611518,0,0,82,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83400,Kike Perez,ES1,2022-05-22,527698,3611518,2,0,21,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83402,Lucas Olaza,ES1,2022-05-22,216240,3611518,1,0,90,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83403,Mauro Arambarri,ES1,2022-05-22,290249,3611518,0,0,90,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1

In [39]:
games_on_play_app.columns

Index(['player_pretty_name', 'competition_id', 'date_x', 'player_id',
       'game_id', 'goals', 'assists', 'minutes_played', 'yellow_cards',
       'red_cards', 'player_club_id', 'current_club_id', 'season',
       'club_home_pretty_name', 'club_away_pretty_name', 'competition_code',
       'round', 'home_club_id', 'away_club_id', 'home_club_goals',
       'away_club_goals'],
      dtype='object')

In [40]:
games_on_play_app= games_on_play_app.drop(['player_club_id', 'current_club_id', 'competition_code'], axis= 1)

In [41]:
games_on_play_app

,player_pretty_name,competition_id,date_x,player_id,game_id,goals,assists,minutes_played,yellow_cards,red_cards,season,club_home_pretty_name,club_away_pretty_name,round,home_club_id,away_club_id,home_club_goals,away_club_goals
43629,Vicente Iborra,ES1,2014-08-23,65467,2475180,0,0,80,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43630,Vitolo,ES1,2014-08-23,67082,2475180,0,0,90,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43628,Sofiane Feghouli,ES1,2014-08-23,57162,2475180,0,0,34,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43604,Andre Gomes,ES1,2014-08-23,221025,2475180,0,0,83,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43605,Antonio Barragan,ES1,2014-08-23,32522,2475180,0,0,90,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83398,Josan,ES1,2022-05-22,277533,3611518,0,1,13,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83399,Juan Iglesias,ES1,2022-05-22,390688,3611518,0,0,82,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83400,Kike Perez,ES1,2022-05-22,527698,3611518,2,0,21,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83402,Lucas Olaza,ES1,2022-05-22,216240,3611518,1,0,90,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83403,Mauro Arambarri,ES1,2022-05-22,290249,3611518,0,0,90,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1

In [183]:
games_on_play_app[games_on_play_app["Name"]== "Aaron Martin"]

,Name,Competition,Date,Player_ID,Game_ID,Goals,Assists,Minutes_played,Yellow_Cards,Red_Card,Season,Home_Club,Away_Club,Round,Home_Club_ID,Away_Club_ID,Home_Club_Goals,Away_Club_Goals
360,Aaron Martin,ES1,2016-10-02,251878,2718768,0,0,22,0,0,2016,Espanyol Barcelona,Fc Villarreal,7. Matchday,714,1050,0,0
387,Aaron Martin,ES1,2016-10-14,251878,2718779,0,0,90,0,0,2016,Ud Las Palmas,Espanyol Barcelona,8. Matchday,472,714,0,0
415,Aaron Martin,ES1,2016-10-22,251878,2718789,0,0,45,0,0,2016,Espanyol Barcelona,Sd Eibar,9. Matchday,714,1533,3,3
443,Aaron Martin,ES1,2016-10-30,251878,2718800,0,0,90,0,0,2016,Real Betis Sevilla,Espanyol Barcelona,10. Matchday,150,714,0,1
471,Aaron Martin,ES1,2016-11-06,251878,2718810,0,0,90,0,0,2016,Espanyol Barcelona,Athletic Bilbao,11. Matchday,714,621,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2473,Aaron Martin,ES1,2021-04-30,251878,3451433,0,1,45,0,0,2020,Celta Vigo,Ud Levante,34. Matchday,940,3368,2,0
2504,Aaron Martin,ES1,2021-05-09,251878,3451452,0,2,90,0,0,2020,Fc Villarreal,Celta Vigo,35. Matchday,1050,940,2,4
2534,Aaron Martin,ES1,2021-05-12,251878,3451454,0,0,90,0,0,2020,Celta Vigo,Fc Getafe,36. Matchday,940,3709,1,0
2559,Aaron Martin,ES1,2021-05-16,251878,3451466,0,0,90,0,0,2020,Fc Barcelona,Celta Vigo,37. Matchday,131,940,1,2
2588,Aaron Martin,ES1,2021-05-22,251878,3451473,0,0,90,0,0,2020,Celta Vigo,Real Betis Sevilla,38. Matchday,940,150,2,3

In [79]:
games_on_play_app.rename(columns={"date": "Date", 
                                  "name":"Name",
                                  "competition_id":"Competition", 
                                  "Player_id":"Player_ID", 
                                  "Game_id":"Game_ID",
                                  "goals":"Goals",
                                  "assists":"Assists",
                                  "minutes_played": "Minutes_played",
                                  "yellow_cards":"Yellow_Cards",
                                  "red_cards":"Red_Card",
                                  "season":"Season",
                                  "club_home_pretty_name":"Home_Club",
                                  "club_away_pretty_name":"Away_Club",
                                  "round":"Round",
                                  "home_club_id":"Home_Club_ID",
                                  "away_club_id":"Away_Club_ID",
                                  "home_club_goals":"Home_Club_Goals",
                                  "away_club_goals":"Away_Club_Goals"
                                  }, inplace= True)

In [80]:
games_on_play_app
# ESTE DATAFRAME HA JUNTADO LOS JUGADORES CON LOS PARTIDOS Y LOS APPEARANCES
# CON ESTE DATAFRME YA PODEMOS HACER LA EXPLORACION, LO QUE NO SE ES SI PONERLE EL PLAYER VALUATION YA QUE SOLO SE LE PUEDE AÑADIR AL PLAYER PRETTY NAME

,Name,Competition,Date,Player_ID,Game_ID,Goals,Assists,Minutes_played,Yellow_Cards,Red_Card,Season,Home_Club,Away_Club,Round,Home_Club_ID,Away_Club_ID,Home_Club_Goals,Away_Club_Goals
43629,Vicente Iborra,ES1,2014-08-23,65467,2475180,0,0,80,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43630,Vitolo,ES1,2014-08-23,67082,2475180,0,0,90,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43628,Sofiane Feghouli,ES1,2014-08-23,57162,2475180,0,0,34,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43604,Andre Gomes,ES1,2014-08-23,221025,2475180,0,0,83,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
43605,Antonio Barragan,ES1,2014-08-23,32522,2475180,0,0,90,0,0,2014,Fc Sevilla,Fc Valencia,1. Matchday,368,1049,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83398,Josan,ES1,2022-05-22,277533,3611518,0,1,13,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83399,Juan Iglesias,ES1,2022-05-22,390688,3611518,0,0,82,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83400,Kike Perez,ES1,2022-05-22,527698,3611518,2,0,21,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83402,Lucas Olaza,ES1,2022-05-22,216240,3611518,1,0,90,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1
83403,Mauro Arambarri,ES1,2022-05-22,290249,3611518,0,0,90,0,0,2021,Fc Elche,Fc Getafe,38. Matchday,1531,3709,3,1

In [346]:
games_on_play_app.columns

Index(['Name', 'Competition', 'Date', 'Player_ID', 'Game_ID', 'Goals',
       'Assists', 'Minutes_played', 'Yellow_Cards', 'Red_Card', 'Season',
       'Home_Club', 'Away_Club', 'Round', 'Home_Club_ID', 'Away_Club_ID',
       'Home_Club_Goals', 'Away_Club_Goals'],
      dtype='object')

In [348]:
gen_data = games_on_play_app.groupby(["Player_ID"]).count().reset_index()

gen_data = gen_data.drop(['Date', 'Game_ID', 'Goals',
       'Assists', 'Minutes_played', 'Yellow_Cards', 'Red_Card', 'Season',
       'Home_Club', 'Away_Club', 'Round', 'Home_Club_ID', 'Away_Club_ID',
       'Home_Club_Goals', 'Away_Club_Goals', "Name"], axis=1)
gen_data = gen_data.rename(columns={"Competition":"Appearances"})
gen_data

      Player_ID  Appearances
0           215           29
1          1726           20
2          2923           20
3          2963           12
4          3979           32
...         ...          ...
1612     769063            1
1613     789328            4
1614     841121            6
1615     844637           11
1616     882772            1

[1617 rows x 2 columns]

In [357]:
# appearances[appearances["player_pretty_name"]=="Lionel Messi"].sum()

In [358]:
goa= appearances.groupby(["player_id"])[("goals", "assists", "minutes_played")].sum().reset_index()
goa

C:\Users\Gabriel Castillo\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

      player_id  goals  assists  minutes_played
0           215      5        1            1331
1          1726      1        0            1634
2          2923      1        3            1333
3          2963      0        0             773
4          3979      0        0            2880
...         ...    ...      ...             ...
1692     841121      0        0              59
1693     844637      0        1             501
1694     845568      0        0              14
1695     882772      0        0              34
1696     946883      0        0             152

[1697 rows x 4 columns]

In [359]:
goa = goa.rename(columns={"player_id":"Player_ID"})

In [361]:
gen_stats= pd.merge(goa, gen_data, on="Player_ID")
gen_stats

      Player_ID  goals  assists  minutes_played  Appearances
0           215      5        1            1331           29
1          1726      1        0            1634           20
2          2923      1        3            1333           20
3          2963      0        0             773           12
4          3979      0        0            2880           32
...         ...    ...      ...             ...          ...
1612     769063      0        0               7            1
1613     789328      0        0             116            4
1614     841121      0        0              59            6
1615     844637      0        1             501           11
1616     882772      0        0              34            1

[1617 rows x 5 columns]

In [386]:
goals_assists_per_90 = (90/gen_stats["minutes_played"]) * (gen_stats["goals"] + gen_stats["assists"])
goals_assists_per_90 = goals_assists_per_90.to_frame()
goals_assists_per_90

             0
0     0.405710
1     0.055080
2     0.270068
3     0.000000
4     0.000000
...        ...
1612  0.000000
1613  0.000000
1614  0.000000
1615  0.179641
1616  0.000000

[1617 rows x 1 columns]

In [401]:

gen_stats.dtypes

Player_ID                 int64
goals                     int64
assists                   int64
minutes_played            int64
Appearances               int64
goals_assists_per_90    float64
dtype: object

In [444]:
import locale
from locale import atof

stats = gen_stats
stats = stats.drop(["goals_assists_per_90"], axis=1)
goals_assists_per_game = (stats["goals"]+ stats["assists"])/ (stats["Appearances"])
goals_assists_per_game.to_frame()

             0
0     0.206897
1     0.050000
2     0.200000
3     0.000000
4     0.000000
...        ...
1612  0.000000
1613  0.000000
1614  0.000000
1615  0.090909
1616  0.000000

[1617 rows x 1 columns]

In [447]:
stats["goals_assists_per_game"] = goals_assists_per_game
stats

,Player_ID,goals,assists,minutes_played,Appearances,goals_assists_per_game
0,215,5,1,1331,29,0.206897
1,1726,1,0,1634,20,0.050000
2,2923,1,3,1333,20,0.200000
3,2963,0,0,773,12,0.000000
4,3979,0,0,2880,32,0.000000
...,...,...,...,...,...,...
1612,769063,0,0,7,1,0.000000
1613,789328,0,0,116,4,0.000000
1614,841121,0,0,59,6,0.000000
1615,844637,0,1,501,11,0.090909
1616,882772,0,0,34,1,0.000000

In [449]:
stats.dtypes

Player_ID                   int64
goals                       int64
assists                     int64
minutes_played              int64
Appearances                 int64
goals_assists_per_game    float64
dtype: object

In [474]:
gen_stats["goals_assists_per_90"] = goals_assists_per_90 
gen_stats["goals_assists_per_game"] = goals_assists_per_game
gen_stats

,Player_ID,goals,assists,minutes_played,Appearances,goals_assists_per_90,goals_assists_per_game
0,215,5,1,1331,29,0.405710,0.206897
1,1726,1,0,1634,20,0.055080,0.050000
2,2923,1,3,1333,20,0.270068,0.200000
3,2963,0,0,773,12,0.000000,0.000000
4,3979,0,0,2880,32,0.000000,0.000000
...,...,...,...,...,...,...,...
1612,769063,0,0,7,1,0.000000,0.000000
1613,789328,0,0,116,4,0.000000,0.000000
1614,841121,0,0,59,6,0.000000,0.000000
1615,844637,0,1,501,11,0.179641,0.090909
1616,882772,0,0,34,1,0.000000,0.000000

In [488]:
gen_goal =gen_stats.drop(['assists',
       'goals_assists_per_90', 'goals_assists_per_game'], axis=1)
gen_goal["goals_90"]= gen_goal["minutes_played"]/gen_goal["goals"]
gen_goal["goals_game"]= gen_goal["goals"]/ gen_goal["Appearances"]
gen_goal

      Player_ID  goals  minutes_played  Appearances  goals_90  goals_game
0           215      5            1331           29     266.2    0.172414
1          1726      1            1634           20    1634.0    0.050000
2          2923      1            1333           20    1333.0    0.050000
3          2963      0             773           12       inf    0.000000
4          3979      0            2880           32       inf    0.000000
...         ...    ...             ...          ...       ...         ...
1612     769063      0               7            1       inf    0.000000
1613     789328      0             116            4       inf    0.000000
1614     841121      0              59            6       inf    0.000000
1615     844637      0             501           11       inf    0.000000
1616     882772      0              34            1       inf    0.000000

[1617 rows x 6 columns]

In [477]:
gen_stats.columns

Index(['Player_ID', 'goals', 'assists', 'minutes_played', 'Appearances',
       'goals_assists_per_90', 'goals_assists_per_game'],
      dtype='object')

In [475]:
gen_stats.to_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\gen_stats.csv")

In [489]:
gen_goal.to_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\gen_goal.csv")

In [452]:
stats.to_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\stats.csv")

In [353]:
play_app.columns

Index(['Unnamed: 0_x', 'player_pretty_name', 'competition_id', 'date',
       'player_id', 'game_id', 'goals', 'assists', 'minutes_played',
       'yellow_cards', 'red_cards', 'player_club_id', 'Unnamed: 0_y',
       'domestic_competition_id', 'pretty_name', 'last_season',
       'current_club_id'],
      dtype='object')

In [82]:
games_on_play_app.to_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\games_on_play_app.csv")

In [81]:
player_valuations.columns

Index(['Unnamed: 0', 'player_id', 'date', 'market_value', 'datetime',
       'dateweek', 'current_club_id', 'player_club_domestic_competition_id'],
      dtype='object')

In [50]:
player_valuations.drop(['Unnamed: 0', 'current_club_id', 'player_club_domestic_competition_id'], axis= 1)

       player_id        date  market_value    datetime    dateweek
0          30802  2014-01-24       1080000  2014-01-24  2014-01-20
1          30802  2014-08-05       1080000  2014-08-05  2014-08-04
2          30802  2015-01-08        900000  2015-01-08  2015-01-05
3          30802  2015-07-03        720000  2015-07-03  2015-06-29
4          30802  2016-02-22        630000  2016-02-22  2016-02-22
...          ...         ...           ...         ...         ...
24169     229804  2021-01-05      13500000  2021-01-05  2021-01-04
24170     229804  2021-06-10      13500000  2021-06-10  2021-06-07
24171     229804  2021-10-13      16200000  2021-10-13  2021-10-11
24172     229804  2021-12-30      18000000  2021-12-30  2021-12-27
24173     229804  2022-06-03      18000000  2022-06-03  2022-05-30

[24174 rows x 5 columns]

In [67]:
games_on_play_app.shape

(86467, 18)

In [68]:
play_app.shape

(88303, 17)

In [51]:
games_on_play_app.to_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\games_on_play_app.csv")

In [94]:

games_on_play_app.to_excel("C:\\Users\\Gabriel Castillo\\Desktop\\test.xlsx")